<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	<!-- For every servlet you need to use a servlet tag and a mapping -->
	<servlet>
		<servlet-name>Add</servlet-name>
		<servlet-class>com.dark.AddServlet</servlet-class>
	</servlet> <!-- give any name as Add to match with the mapping and class name with package to do the work -->
	
	<servlet-mapping>
		<servlet-name>Add</servlet-name>
		<url-pattern>/add</url-pattern> 
	</servlet-mapping> <!-- name of the servelt to map it and then the url lke /add this add is used in the html form action -->
	<!--  for dispatching the request   -->
	
	
	
	
	<servlet>
		<servlet-name>Square</servlet-name>
		<servlet-class>com.dark.SqServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Square</servlet-name>
		<url-pattern>/sq</url-pattern>
	</servlet-mapping>
</web-app>